body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}


table{
    margin: 70px auto;
    width: 50%;
    
}

table, th, td{
    padding: 15px;
    text-align: center;
}

tr:hover{
    background-color: #b3b3b0;
}

#officeimg{
    width: 45%;
    height: 100%;
    float: right;
}

.about{
    margin: 30px;
    padding: 30px;
}

.about h3{
    font-size: 25px;

}

.about p{
    font-size: 20px;
}



