*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Blue-900: #0c1821;
    --Blue-800: #1b2a41;
    --Blue-700: #324a5f;
    --light:  #ccc9dc; 
}

body{
    font-family: "Roboto Mono", monospace;
}

.fejlec{
    background-image: url('header-picture.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 60px;
    
}

.fejlec h1{
    font-size: 100px;
    text-shadow: 0px 0px 15px #00a2ff;
}

.fejlec a{
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--Blue-900);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00a2ff;
}

.fejlec a:hover{
    background-color: var(--light);
    transition: ease-in-out 0.7s;
    color: var(--Blue-900);
    box-shadow: 0px 0px 40px #00a2ff;
}

main{
    color: var(--light);
}

.kepek{
    float: left;
    margin-top: 40px;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 2px solid var(--Blue-700);
    box-shadow: 0px 0px 20px #00a2ff;
}

#box1{
    margin-top: 40px;
    float: right;
    width: 70%;
    background-color: var(--Blue-700);
    text-align: left;
    padding: 15px;
    margin-right: 5rem;
    margin-left: 5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00a2ff;
}

.about{
    margin: 30px;
    padding: 30px;
}

.about h3{
    font-size: 25px;

}

.about p{
    font-size: 20px;
}

table{
    margin: 70px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #00a2ff;
}

table, th, td{
    padding: 15px;
    text-align: center;
}

tr:hover{
    transition: ease-in 0.2s;
    background-color: #2575a38f;
}

#officeimg{
    width: 45%;
    height: 100%;
    float: right;
}

footer{
    background-color: var(--Blue-900);
}


